In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2006Q1_Base.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,30,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,95,98,99,101,104,107,110,113,116,119,122,125,128,168,169,170,171,172,173,178,179,180,181,186,187,188,189,190,191,192,193,194,195,196,198,200,202,210,211,212,213,214,215,222,224,226,228,230,232,234) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,120060000707
1,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,120060000508
2,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000882
3,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000668
4,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000502

In [3]:
Q1.head(20)

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,120060000707
1,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,120060000508
2,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000882
3,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000668
4,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000502
5,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000678
6,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000860
7,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000634
8,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000779
9,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000660
10,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000104
11,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000834
12,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000856
13,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000880
14,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000460
15,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000483
16,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000681
17,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000662
18,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000536
19,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000562

In [4]:
Q1.shape

(732873, 255)

In [3]:
Q2 = pd.read_csv('2006Q2_Base.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,107,110,113,116,119,122,125,168,169,170,171,172,173,174,178,179,180,181,186,187,188,189,190,191,192,193,194,195,196,198,200,202,210,211,212,213,214,215,222,224,226,228,230,232,234) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2006Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,2,9999999998,NaN,2,220060000321
1,2006Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,220060000688
2,2006Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,220060000498
3,2006Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,220060000198
4,2006Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,220060000655

In [4]:
Q3 = pd.read_csv('2006Q3_Base.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,107,110,113,116,119,168,169,170,171,172,173,174,175,176,177,178,179,180,181,186,187,188,189,190,191,192,193,194,195,196,198,200,202,204,206,210,211,212,213,222,224,226,228,230,232,234) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2006Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,320060000353
1,2006Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,320060000539
2,2006Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,220060753915
3,2006Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,320060000032
4,2006Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,220060754202

In [5]:
Q4 = pd.read_csv('2006Q4_Base.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,95,98,168,169,170,171,172,173,174,175,178,179,180,181,186,187,188,189,190,191,192,193,194,195,196,197,198,200,202,204,206,210,211,212,222,224,226,228,230,232,234,236,238) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2006Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,1,1,35,58,1,1,9999999998,NaN,2,420060000070
1,2006Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,420060000505
2,2006Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,420060000488
3,2006Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,420060000201
4,2006Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,420060000337

In [6]:
Y2006 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2006.head()

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,120060000707
1,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,120060000508
2,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000882
3,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000668
4,2006Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120060000502

In [7]:
Y2006.tail()

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
733364,2006Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5,553,197,3,3,9999999998,1.000000e+10,2,420060704557
733365,2006Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5,553,173,3,4,9999999998,NaN,1,420060640169
733366,2006Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5,553,173,2,3,9999999998,1.000000e+10,2,420060589391
733367,2006Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5,553,173,4,4,9999999998,1.000000e+10,1,420060704658
733368,2006Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5,554,173,2,3,9999999998,1.000000e+10,2,420060704550

In [8]:
Y2006.shape

(2917188, 255)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

2917188

In [10]:
start = time.time()
Y2006.to_csv('Base_06.csv')
end = time.time()
print(end - start)

345.4983105659485