In [11]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2006Q1_Charges.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120060000001,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,40.0,454.0,18160.0,0.0
1,120060000002,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,48.0,454.0,21792.0,0.0
2,120060000003,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,8.0,454.0,3632.0,0.0
3,120060000004,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,454.0,454.0,0.0
4,120060000005,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,19.0,454.0,8626.0,0.0

In [3]:
Q2 = pd.read_csv('2006Q2_Charges.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120060795640,206,NaN,NaN,NaN,NaN,NaN,NaN,DA,2.0,942.0,1884.0,0.0
1,120060795640,301,NaN,NaN,NaN,NaN,NaN,NaN,UN,4.0,NaN,455.0,0.0
2,120060795640,305,NaN,NaN,NaN,NaN,NaN,NaN,UN,3.0,NaN,173.0,0.0
3,120060795640,307,NaN,NaN,NaN,NaN,NaN,NaN,UN,2.0,NaN,51.5,0.0
4,120060795640,320,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,182.5,0.0

In [4]:
Q3 = pd.read_csv('2006Q3_Charges.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,220060753872,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,3.0,454.0,1362.0,0.0
1,220060753873,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,37.0,454.0,16798.0,0.0
2,220060753874,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,37.0,454.0,16798.0,0.0
3,220060753875,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,454.0,454.0,0.0
4,220060753876,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,13.0,454.0,5902.0,0.0

In [5]:
Q4 = pd.read_csv('2006Q4_Charges.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120050770342,119,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,723.45,723.45,0.0
1,120050770342,250,NaN,NaN,NaN,NaN,NaN,NaN,UN,23.0,NaN,850.70,0.0
2,120050770342,257,NaN,NaN,NaN,NaN,NaN,NaN,UN,2.0,NaN,10.82,0.0
3,120050770342,258,NaN,NaN,NaN,NaN,NaN,NaN,UN,18.0,NaN,717.86,0.0
4,120050770342,260,NaN,NaN,NaN,NaN,NaN,NaN,UN,2.0,NaN,645.56,0.0

In [6]:
Y2006 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2006.head()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120060000001,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,40.0,454.0,18160.0,0.0
1,120060000002,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,48.0,454.0,21792.0,0.0
2,120060000003,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,8.0,454.0,3632.0,0.0
3,120060000004,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,454.0,454.0,0.0
4,120060000005,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,19.0,454.0,8626.0,0.0

In [7]:
Y2006.tail()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
11439359,420060826077,307,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,87.68,0.0
11439360,420060826077,636,NaN,NaN,NaN,NaN,NaN,NaN,UN,10.0,NaN,378.00,0.0
11439361,420060826077,637,NaN,NaN,NaN,NaN,NaN,NaN,UN,9.0,NaN,74.50,0.0
11439362,420060826077,722,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,2229.15,0.0
11439363,420060826077,762,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,26.57,0.0

In [8]:
Y2006.shape

(44993149, 13)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

44993149

In [12]:
start = time.time()
Y2006.to_csv('Charges_06.csv')
end = time.time()
print(end - start)

287.1614911556244