In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2009Q1_Charges.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120080798822,124.0,HC,H2013,NaN,NaN,NaN,NaN,DA,2.0,1500.0,3000.0,0.0
1,120080798822,124.0,HC,H2013,NaN,NaN,NaN,NaN,DA,9.0,1500.0,13500.0,0.0
2,120090000001,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,16.0,454.0,7264.0,0.0
3,120090000002,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,16.0,454.0,7264.0,0.0
4,120090000003,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,454.0,454.0,0.0

In [3]:
Q2 = pd.read_csv('2009Q2_Charges.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120090799552,110,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,3183.75,3183.75,0.0
1,120090799552,206,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,3183.75,2605.50,0.0
2,120090799552,250,NaN,NaN,NaN,NaN,NaN,NaN,UN,39.0,NaN,3508.20,0.0
3,120090799552,259,NaN,NaN,NaN,NaN,NaN,NaN,UN,2.0,NaN,4.47,0.0
4,120090799552,270,NaN,NaN,NaN,NaN,NaN,NaN,UN,20.0,NaN,1477.00,0.0

In [4]:
Q3 = pd.read_csv('2009Q3_Charges.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,220090732643,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,38.0,448.0,17024.0,0.0
1,220090732644,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,17.0,448.0,7616.0,0.0
2,220090732645,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,63.0,448.0,28224.0,0.0
3,220090732646,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,30.0,448.0,13440.0,0.0
4,220090732647,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,35.0,448.0,15680.0,0.0

In [5]:
Q4 = pd.read_csv('2009Q4_Charges.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,320090761731,0100,NaN,NaN,NaN,NaN,NaN,NaN,DA,13.0,454.0,5992.8,0.0
1,320090761732,0120,NaN,NaN,NaN,NaN,NaN,NaN,DA,31.0,939.0,29109.0,0.0
2,320090761733,0120,NaN,NaN,NaN,NaN,NaN,NaN,DA,57.0,939.0,53523.0,0.0
3,320090761734,0120,NaN,NaN,NaN,NaN,NaN,NaN,DA,149.0,939.0,139911.0,0.0
4,320090761735,0120,NaN,NaN,NaN,NaN,NaN,NaN,DA,95.0,939.0,89205.0,0.0

In [6]:
Y2009 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2009.head()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120080798822,124,HC,H2013,NaN,NaN,NaN,NaN,DA,2.0,1500.0,3000.0,0.0
1,120080798822,124,HC,H2013,NaN,NaN,NaN,NaN,DA,9.0,1500.0,13500.0,0.0
2,120090000001,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,16.0,454.0,7264.0,0.0
3,120090000002,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,16.0,454.0,7264.0,0.0
4,120090000003,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,454.0,454.0,0.0

In [7]:
Y2009.tail()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
12311839,420095202381,424,HC,97001,GP,NaN,NaN,NaN,UN,1.0,NaN,269.0,0.0
12311840,420095202381,460,HC,94010,NaN,NaN,NaN,NaN,UN,4.0,NaN,880.0,0.0
12311841,420095202381,460,HC,94760,NaN,NaN,NaN,NaN,UN,2.0,NaN,113.5,0.0
12311842,420095202381,636,HC,J2405,NaN,NaN,NaN,NaN,UN,1.0,NaN,17.0,0.0
12311843,420095202381,710,NaN,NaN,NaN,NaN,NaN,NaN,UN,3.0,NaN,4000.0,0.0

In [8]:
Y2009.shape

(46476080, 13)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

46476080

In [10]:
start = time.time()
Y2009.to_csv('Charges_09.csv')
end = time.time()
print(end - start)

324.369083404541