In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2010Q1_Base.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,102,104,107,108,110,111,113,114,116,117,119,120,122,123,125,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,155,156,158,161,162,164,165,167,168,169,170,171,172,173,174,175,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,197,198,200,202,204,206,208,210,211,212,213,214,215,222,224,226,228,230,232,234,236) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,1,1,93,58,1,1,1.000000e+10,NaN,2,120101891753
1,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,120101891915
2,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,2,1.000000e+10,NaN,2,120101891465
3,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,120101891765
4,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,120101891897

In [3]:
Q2 = pd.read_csv('2010Q2_Base.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,24,25,26,29,67,68,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,95,96,98,99,101,102,104,105,107,108,110,111,113,114,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,169,170,171,172,173,174,175,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,210,211,212,213,214,215,222,224,226,228,230,232,234,238) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2010Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,220102060514
1,2010Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,220102060966
2,2010Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,220102060970
3,2010Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,220102060450
4,2010Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,2,1.000000e+10,NaN,2,220102060616

In [4]:
Q3 = pd.read_csv('2010Q3_Base.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,24,25,26,27,29,67,68,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,96,98,99,101,102,104,105,107,108,110,111,113,114,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,186,187,188,189,190,191,192,193,194,195,196,197,198,200,202,204,206,208,210,211,212,213,214,215,222,224,226,228,230,232,234) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2010Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,9999999998,NaN,2,320100003865
1,2010Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,9999999998,NaN,2,320100003971
2,2010Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,9999999998,NaN,2,320100003643
3,2010Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,9999999998,NaN,2,320100003877
4,2010Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,9999999998,NaN,2,320100003903

In [5]:
Q4 = pd.read_csv('2010Q4_Base.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,16,18,19,24,25,26,27,29,67,68,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,99,101,102,104,105,107,108,110,111,113,114,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,169,170,171,172,173,174,175,176,178,179,180,181,182,183,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,202,204,206,210,211,212,213,214,215,222,224,226,228,230,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2010Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,420100225857
1,2010Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,420100226129
2,2010Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,420100226063
3,2010Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,420100226164
4,2010Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,420100226167

In [6]:
Y2010 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2010.head()

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,1,1,93,58,1,1,1.000000e+10,NaN,2,120101891753
1,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,120101891915
2,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,2,1.000000e+10,NaN,2,120101891465
3,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,120101891765
4,2010Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,120101891897

In [7]:
Y2010.tail()

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
741880,2010Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,989,952,1,1,1.000000e+10,1.000000e+10,1,420100796396
741881,2010Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,999,956,0,0,1.000000e+10,NaN,1,420103038695
741882,2010Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,999,956,0,0,1.000000e+10,NaN,1,420100818329
741883,2010Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,999,956,0,0,1.000000e+10,1.000000e+10,1,420100904080
741884,2010Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,999,956,0,0,1.000000e+10,NaN,1,420100818328

In [8]:
Y2010.shape

(2978627, 255)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

2978627

In [10]:
start = time.time()
Y2010.to_csv('Base_10.csv')
end = time.time()
print(end - start)

317.160546541214