In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2010Q1_Charges.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120101891236,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,26.0,454.0,11804.0,0.0
1,120101891237,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,51.0,454.0,23154.0,0.0
2,120101891238,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,43.0,454.0,19522.0,0.0
3,120101891239,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,8.0,454.0,3632.0,0.0
4,120101891240,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,4.0,454.0,1816.0,0.0

In [3]:
Q2 = pd.read_csv('2010Q2_Charges.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6,10,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120102857683,270,NaN,NaN,NaN,NaN,NaN,NaN,UN,6,0.0,780.65,0
1,120102857683,300,HC,81025,NaN,NaN,NaN,NaN,UN,1,0.0,158.4,0
2,120102857683,636,HC,J3010,NaN,NaN,NaN,NaN,UN,15,0.0,550.03,0
3,120102857683,710,NaN,NaN,NaN,NaN,NaN,NaN,UN,33,0.0,2173.65,0
4,120102857683,370,NaN,NaN,NaN,NaN,NaN,NaN,UN,16,0.0,1068.55,0

In [4]:
Q3 = pd.read_csv('2010Q3_Charges.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6,10,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,220102931516,250,HC,NaN,NaN,NaN,NaN,NaN,UN,2,NaN,6,0
1,220102931516,300,HC,81003,NaN,NaN,NaN,NaN,UN,1,NaN,29,0
2,220102931516,320,HC,73562,NaN,NaN,NaN,NaN,UN,1,NaN,229,0
3,220102931516,350,HC,71250,NaN,NaN,NaN,NaN,UN,1,NaN,1387,0
4,220102931516,450,HC,NaN,NaN,NaN,NaN,NaN,UN,1,NaN,552,0

In [5]:
Q4 = pd.read_csv('2010Q4_Charges.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,320102990029,110.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,1,636.0,636.00,0.0
1,320102990029,200.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,26,2433.0,63258.00,0.0
2,320102990029,250.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,295,NaN,9897.70,0.0
3,320102990029,260.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,5,NaN,1105.25,0.0
4,320102990029,271.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,7,NaN,265.80,0.0

In [6]:
Y2010 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2010.head()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120101891236,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,26,454.0,11804,0
1,120101891237,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,51,454.0,23154,0
2,120101891238,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,43,454.0,19522,0
3,120101891239,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,8,454.0,3632,0
4,120101891240,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,4,454.0,1816,0

In [7]:
Y2010.tail()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
11344144,420103038682,420,NaN,NaN,NaN,NaN,NaN,NaN,UN,12,NaN,720,0
11344145,420103038682,424,NaN,NaN,NaN,NaN,NaN,NaN,UN,4,NaN,248,0
11344146,420103038682,430,NaN,NaN,NaN,NaN,NaN,NaN,UN,12,NaN,720,0
11344147,420103038682,434,NaN,NaN,NaN,NaN,NaN,NaN,UN,4,NaN,248,0
11344148,420103038682,460,NaN,NaN,NaN,NaN,NaN,NaN,UN,102,NaN,1479,0

In [8]:
Y2010.shape

(45538200, 13)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

45538200

In [10]:
start = time.time()
Y2010.to_csv('Charges_10.csv')
end = time.time()
print(end - start)

258.1729633808136