In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2008Q1_Base.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,69,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,107,108,110,168,169,170,171,172,173,174,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,197,198,200,202,204,206,210,211,212,213,222,224,226,228,230,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,120080000439
1,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,120080000253
2,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,120080000024
3,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,120080000348
4,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,2,1.000000e+10,NaN,2,120080000150

In [3]:
Q2 = pd.read_csv('2008Q2_Base.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,107,110,113,116,119,122,125,128,131,134,137,140,143,146,168,169,170,171,172,173,174,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,198,200,202,204,206,210,211,212,213,222,224,226,228,230,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2008Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,220080000261
1,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,120080796255
2,2008Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,220080000175
3,2008Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,220080000338
4,2008Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,220080000356

In [4]:
Q3 = pd.read_csv('2008Q3_Base.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,95,96,98,101,104,107,110,113,116,119,122,168,169,170,171,172,173,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,198,200,202,204,206,210,211,212,213,222,224,226,228,230,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2008Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,1,1,81,52,1,1,1.000000e+10,NaN,2,320080765822
1,2008Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,220080755945
2,2008Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,320080765757
3,2008Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,320080765803
4,2008Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,320080766004

In [5]:
Q4 = pd.read_csv('2008Q4_Base.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,30,67,68,69,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,107,110,113,116,119,122,125,168,169,170,171,172,173,174,175,176,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,198,200,202,204,206,208,210,211,212,213,222,224,226,228,230,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2008Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,9999999998,NaN,2,420080000497
1,2008Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,9999999998,NaN,2,420080000874
2,2008Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,2,9999999998,NaN,2,420080000411
3,2008Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,9999999998,NaN,2,420080000516
4,2008Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,9999999998,NaN,2,420080000482

In [6]:
Y2008 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2008.head()

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,120080000439
1,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,880,756,1,1,1.000000e+10,NaN,2,120080000253
2,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,120080000024
3,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,1,1.000000e+10,NaN,2,120080000348
4,2008Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,881,754,1,2,1.000000e+10,NaN,2,120080000150

In [7]:
Y2008.tail()

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
731450,2008Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16,16,981,951,3,4,1.000000e+10,1.000000e+10,2,420080585086
731451,2008Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,981,950,3,3,1.000000e+10,1.000000e+10,3,420080693888
731452,2008Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,8,987,951,3,3,1.000000e+10,NaN,1,420080581630
731453,2008Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,13,999,513,1,2,1.000000e+10,1.000000e+10,1,420080403056
731454,2008Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,999,956,0,0,1.000000e+10,NaN,2,420080727605

In [8]:
Y2008.shape

(2918553, 255)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

2918553

In [10]:
start = time.time()
Y2008.to_csv('Base_08.csv')
end = time.time()
print(end - start)

365.2890019416809