In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2008Q1_Charges.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120080000001,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,12.0,454.0,5448.0,0.0
1,120080000002,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,10.0,454.0,4721.6,0.0
2,120080000003,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,6.0,454.0,2724.0,0.0
3,120080000004,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,78.0,454.0,35412.0,0.0
4,120080000005,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,12.0,454.0,5765.8,0.0

In [3]:
Q2 = pd.read_csv('2008Q2_Charges.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120080796114,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,95.0,454.0,43130.0,0.0
1,120080796115,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,16.0,454.0,7264.0,0.0
2,120080796116,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,98.0,454.0,44492.0,0.0
3,120080796117,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,36.0,454.0,16344.0,0.0
4,120080796118,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,14.0,454.0,6356.0,0.0

In [4]:
Q3 = pd.read_csv('2008Q3_Charges.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120080798358,121.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,900.0,900.00,0.0
1,120080798358,250.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,0.0,137.84,0.0
2,120080798358,420.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,4.0,NaN,166.00,0.0
3,120080798358,430.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,2.0,NaN,79.00,0.0
4,220080748435,110.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,13.0,770.0,10010.00,0.0

In [5]:
Q4 = pd.read_csv('2008Q4_Charges.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,320080774050,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,70.0,448.0,31360.0,0.0
1,320080774051,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,53.0,448.0,23744.0,0.0
2,320080774052,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,36.0,448.0,16128.0,0.0
3,320080774053,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,41.0,448.0,18368.0,0.0
4,320080774054,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,50.0,448.0,22400.0,0.0

In [6]:
Y2008 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2008.head()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120080000001,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,12.0,454.0,5448.0,0.0
1,120080000002,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,10.0,454.0,4721.6,0.0
2,120080000003,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,6.0,454.0,2724.0,0.0
3,120080000004,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,78.0,454.0,35412.0,0.0
4,120080000005,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,12.0,454.0,5765.8,0.0

In [7]:
Y2008.tail()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
11271846,420080794372,301.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,40.0,0.0
11271847,420080794372,305.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,44.0,0.0
11271848,420080794372,329.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,850.0,0.0
11271849,420080794372,360.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,94.0,NaN,8250.0,0.0
11271850,420080794372,710.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,64.0,NaN,450.0,0.0

In [8]:
Y2008.shape

(45097221, 13)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

45097221

In [10]:
start = time.time()
Y2008.to_csv('Charges_08.csv')
end = time.time()
print(end - start)

314.1824824810028