In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2007Q1_Charges.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120070000001,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,31.0,454.0,14074.0,0.0
1,120070000002,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,3.0,454.0,1362.0,0.0
2,120070000003,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,46.0,454.0,20884.0,0.0
3,120070000004,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,8.0,454.0,3632.0,0.0
4,120070000005,100.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,44.0,454.0,19976.0,0.0

In [3]:
Q2 = pd.read_csv('2007Q2_Charges.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120070785219,122.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,2.0,420.0,840.00,0.0
1,120070785219,250.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,65.0,NaN,898.70,0.0
2,120070785219,258.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,3.0,NaN,162.46,0.0
3,120070785219,270.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,24.0,NaN,980.04,0.0
4,120070785219,272.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,2.0,NaN,51.00,0.0

In [4]:
Q3 = pd.read_csv('2007Q3_Charges.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,220070787218,110,NaN,NaN,NaN,NaN,NaN,NaN,DA,1.0,742.0,742.00,0.0
1,220070787218,250,NaN,NaN,NaN,NaN,NaN,NaN,UN,4.0,NaN,63.25,0.0
2,220070787218,271,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,14.00,0.0
3,220070787218,272,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,12.20,0.0
4,220070787218,300,NaN,NaN,NaN,NaN,NaN,NaN,UN,3.0,NaN,93.25,0.0

In [5]:
Q4 = pd.read_csv('2007Q4_Charges.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\python38\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,320071572352,110.0,NaN,NaN,NaN,NaN,NaN,NaN,DA,6.0,660.0,3960.00,0.0
1,320071572352,250.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,58.0,NaN,1361.85,0.0
2,320071572352,260.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,241.75,0.0
3,320071572352,271.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,3.0,NaN,974.50,0.0
4,320071572352,272.0,NaN,NaN,NaN,NaN,NaN,NaN,UN,5.0,NaN,1784.95,0.0

In [6]:
Y2007 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2007.head()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
0,120070000001,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,31.0,454.0,14074.0,0.0
1,120070000002,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,3.0,454.0,1362.0,0.0
2,120070000003,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,46.0,454.0,20884.0,0.0
3,120070000004,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,8.0,454.0,3632.0,0.0
4,120070000005,100,NaN,NaN,NaN,NaN,NaN,NaN,DA,44.0,454.0,19976.0,0.0

In [7]:
Y2007.tail()

,RECORD_ID,REVENUE_CODE,HCPCS_QUALIFIER,HCPCS_PROCEDURE_CODE,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,UNIT_MEASUREMENT_CODE,UNITS_OF_SERVICE,UNIT_RATE,CHRGS_LINE_ITEM,CHRGS_NON_COV
11241561,420070800113,279,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,7.5,0.0
11241562,420070800113,301,NaN,NaN,NaN,NaN,NaN,NaN,UN,5.0,NaN,279.4,0.0
11241563,420070800113,302,NaN,NaN,NaN,NaN,NaN,NaN,UN,1.0,NaN,40.7,0.0
11241564,420070800113,305,NaN,NaN,NaN,NaN,NaN,NaN,UN,5.0,NaN,189.2,0.0
11241565,420070800113,410,NaN,NaN,NaN,NaN,NaN,NaN,UN,62.0,NaN,4854.3,0.0

In [8]:
Y2007.shape

(45345871, 13)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

45345871

In [10]:
start = time.time()
Y2007.to_csv('Charges_07.csv')
end = time.time()
print(end - start)

368.633535861969